@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ altura dinámica del header (la setea Header.jsx con JS) */
:root{
  
  --header-h: 0px;
}

/* ✅ Evita que algo se salga y "mueva" la página a los lados */
html, body {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ✅ reserva el espacio para el header fixed */
  padding-top: var(--header-h);
}
:root {
  --color-equielect-yellow: #ffcd00;
  --color-equielect-blue: #1c355e;
  --color-equielect-gray: #98989a;
}

.text-equielect-gray { color: var(--color-equielect-gray); }
.text-equielect-blue { color: var(--color-equielect-blue); }

.bg-equielect-yellow { background-color: var(--color-equielect-yellow); }
.bg-equielect-blue { background-color: var(--color-equielect-blue); }
